art==6.0
biopython==1.81
blinker==1.6.2
Brotli==1.0.9
click==8.1.6
Flask==2.3.2
Flask-Compress==1.13
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
numpy==1.25.2
PyMySQL==1.1.0
rapBuilder==0.1.4
tqdm==4.66.1
ViennaRNA==2.6.3
Werkzeug==2.3.6
